<div class="jumbotron banner text-center">
  <div class="overlay"></div>
    <div class="inner">
      <a href="{{ relative_path }}index.html"><h1>Weird & Wordy</h1></a>
      <p>Austin tourism with a wordy gal</p>
    </div>
  </div>
</div>