{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}
{% include "_includes/jumbotron.njk" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col align-self-center">
    <h1>Get to know the weird and wonderful Austin</h1>
    <p>Austin has many wonderful sights, restaurants and culture. Surprise wait for both locals or tourist a like as we explore all Austin has to offer!</p>
    </div>
    <div class="row">
    {% for landmarks in Austin.landmarks %}
    <div class="col-sm-6">
      <div class="card mb-4 mt-4">
       <img src="img/img-austin/landmarks/{{ landmarks.imagebw }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ landmarks.name }}</h5>
          <p class="card-text">{{ landmarks.activities }}</p>
          <a href="#" class="btn btn-primary">more</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
</div>
{% endblock %}